@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        SDJ International College<br />
        Vesu Road, Surat<br />
        <abbr title="Phone">P:</abbr>
        9864858321
    </address>

    <address>
        <strong>Support:</strong>   <a href="#">Petzo</a><br />

    </address>
    <a href="~/Login.aspx">Logout</a>
</main>